page-home {
#slidesconfighome{
    height: 13em;
    
}
#slidesconfighome p{
   font-size: 0.8em;
   padding-right: 1em;
   padding-left: 1em;
}
#slidesconfighome {
    border-bottom: 1px solid lightgray;
}
.sair{
    margin-top: 70%;
    padding-right: 4em;
    padding-left: 4em;
}
}